@use 'sass:math';
@use 'sass:list';
@use '../../scss/mixins' as *; // путь адаптируй под структуру

.project__card-list {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: pclamp(40);
}

.project {
    margin-bottom: pclamp(170);
}

.project {



    // .project__card

    &__card {
        padding-bottom: pclamp(60);
    }

    // .project__block-image

    &__img {
        width: 100%;
        margin-bottom: 15px;
    }

    // .project__text-name

    &__text-name {
        font-size: pclamp(24);
        font-weight: 500;
    }

    // .project__cities

    &__cities {
        font-size: pclamp(16);
        font-weight: 300;
    }

    // .project__desc

    &__desc {
        color: var(--gray-light);
        font-size: pclamp(16);
    }
    &__title {
        margin-bottom: 40px;
    }

@media (max-width: 768px) {
    &__text {
        display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
            gap: 10px;
    }

    &__desc {
        width: 100%;
    }
    &__card-list {
        display: flex;
        flex-direction: column;
        gap: 30px;
      }
}
}
