.project__card-list {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 40px;
}

.project {
    margin-bottom: 170px;
}

.project {



    // .project__card

    &__card {
        padding-bottom: 60px;
    }

    // .project__block-image

    &__img {
        width: 100%;
    }

    // .project__text-name

    &__text-name {
        font-size: 24px;
        font-weight: 500;
    }

    // .project__cities

    &__cities {
        font-size: 16px;
        font-weight: 300;
    }

    // .project__desc

    &__desc {
        color: var(--gray-light);
        font-size: 16px;
    }

}
