<section class="zagol-ul-full">
  <div class="_container">
     <h2 class="zagol-ul-full__title _h2">ЗАГОЛОВОК</h2>
    <div class="zagol-ul-full__container">


      <div class="zagol-ul-full__content">
        <div class="zagol-ul-full__left-block">
        <p class="zagol-ul-full__left-number">01</p>
      </div>
      <div class="zagol-ul-full__item">
       <h3 class="zagol-ul-full__item-title">Заголовок 1</h3>
         <svg xmlns="http://www.w3.org/2000/svg" width="17" height="17" viewBox="0 0 17 17" fill="none">
                  <path d="M1 16L16 1M16 1V11.7463M16 1H4.64286" stroke="white" stroke-linecap="round" stroke-linejoin="round"/>
                </svg>
      </div>
      </div>

       <div class="zagol-ul-full__content">
        <div class="zagol-ul-full__left-block">
        <p class="zagol-ul-full__left-number">02</p>
      </div>
      <div class="zagol-ul-full__item">
       <h3 class="zagol-ul-full__item-title">Заголовок 2</h3>
         <svg xmlns="http://www.w3.org/2000/svg" width="17" height="17" viewBox="0 0 17 17" fill="none">
                  <path d="M1 16L16 1M16 1V11.7463M16 1H4.64286" stroke="white" stroke-linecap="round" stroke-linejoin="round"/>
                </svg>
      </div>
      </div>

       <div class="zagol-ul-full__content">
        <div class="zagol-ul-full__left-block">
        <p class="zagol-ul-full__left-number">03</p>
      </div>
      <div class="zagol-ul-full__item">
       <h3 class="zagol-ul-full__item-title">Заголовок 3</h3>
         <svg xmlns="http://www.w3.org/2000/svg" width="17" height="17" viewBox="0 0 17 17" fill="none">
                  <path d="M1 16L16 1M16 1V11.7463M16 1H4.64286" stroke="white" stroke-linecap="round" stroke-linejoin="round"/>
                </svg>
      </div>
      </div>

       <div class="zagol-ul-full__content">
        <div class="zagol-ul-full__left-block">
        <p class="zagol-ul-full__left-number">04</p>
      </div>
      <div class="zagol-ul-full__item">
       <h3 class="zagol-ul-full__item-title">Заголовок 4</h3>
         <svg xmlns="http://www.w3.org/2000/svg" width="17" height="17" viewBox="0 0 17 17" fill="none">
                  <path d="M1 16L16 1M16 1V11.7463M16 1H4.64286" stroke="white" stroke-linecap="round" stroke-linejoin="round"/>
                </svg>
      </div>
      </div>

    </div>
  </div>
</section>
