<section class="ul-title-image-desc">
  <div class="_container">
    <div class="ul-title-image-desc__container">
      <div class="ul-title-image-desc__content">
        <h2 class="ul-title-image-desc__title _h2">ЗАГОЛОВОК</h2>

        <ul class="ul-title-image-desc__list">

          <li class="ul-title-image-desc__item">

            <div class="ul-title-image-desc__top">
              <div class="ul-title-image-desc__heading">
                <h3 class="ul-title-image-desc__item-h3">Заголовок 1</h3>
              </div>
              <div class="ul-title-image-desc__icon">
                  <img alt="" class="project__img image-text__image" src="assets/img/image-card.webp">
              </div>
            </div>

            <div class="ul-title-image-desc__desc">
             Есть много вариантов Lorem Ipsum, но большинство из них имеет не всегда приемлемые модификации, например, юмористические вставки или слова, которые даже отдалённо не напоминают латынь. Если вам нужен Lorem Ipsum для серьёзного проекта, вы наверняка не хотите какой-нибудь шутки, скрытой в середине абзаца. Также все другие известные генераторы Lorem Ipsum используют один и тот же текст, который они просто повторяют, пока не достигнут нужный объём.
            </div>
          </li>

          <li class="ul-title-image-desc__item">
            <div class="ul-title-image-desc__top">
              <div class="ul-title-image-desc__heading">
                  <h3 class="ul-title-image-desc__item-h3">Заголовок 2</h3>
              </div>
              <div class="ul-title-image-desc__icon">
                 <img alt="" class="project__img image-text__image" src="assets/img/image-card.webp">
              </div>
            </div>
            <div class="ul-title-image-desc__desc">
Есть много вариантов Lorem Ipsum, но большинство из них имеет не всегда приемлемые модификации, например, юмористические вставки или слова, которые даже отдалённо не напоминают латынь. Если вам нужен Lorem Ipsum для серьёзного проекта, вы наверняка не хотите какой-нибудь шутки, скрытой в середине абзаца. Также все другие известные генераторы Lorem Ipsum используют один и тот же текст, который они просто повторяют, пока не достигнут нужный объём.            </div>
          </li>

          <li class="ul-title-image-desc__item">
            <div class="ul-title-image-desc__top">
              <div class="ul-title-image-desc__heading">
                <h3 class="ul-title-image-desc__item-h3">Заголовок 3</h3>
              </div>
              <div class="ul-title-image-desc__icon">
                 <img alt="" class="project__img image-text__image" src="assets/img/image-card.webp">
              </div>
            </div>
            <div class="ul-title-image-desc__desc">
Есть много вариантов Lorem Ipsum, но большинство из них имеет не всегда приемлемые модификации, например, юмористические вставки или слова, которые даже отдалённо не напоминают латынь. Если вам нужен Lorem Ipsum для серьёзного проекта, вы наверняка не хотите какой-нибудь шутки, скрытой в середине абзаца. Также все другие известные генераторы Lorem Ipsum используют один и тот же текст, который они просто повторяют, пока не достигнут нужный объём.            </div>
          </li>

          <li class="ul-title-image-desc__item">
            <div class="ul-title-image-desc__top">
              <div class="ul-title-image-desc__heading">
                 <h3 class="ul-title-image-desc__item-h3">Заголовок 4</h3>
              </div>
              <div class="ul-title-image-desc__icon">
                 <img alt="" class="project__img image-text__image" src="assets/img/image-card.webp">
              </div>
            </div>
            <div class="ul-title-image-desc__desc">
Есть много вариантов Lorem Ipsum, но большинство из них имеет не всегда приемлемые модификации, например, юмористические вставки или слова, которые даже отдалённо не напоминают латынь. Если вам нужен Lorem Ipsum для серьёзного проекта, вы наверняка не хотите какой-нибудь шутки, скрытой в середине абзаца. Также все другие известные генераторы Lorem Ipsum используют один и тот же текст, который они просто повторяют, пока не достигнут нужный объём.            </div>
          </li>
        </ul>
      </div>
    </div>
  </div>
</section>
