@use 'sass:math';
@use "mixins" as *;
@use "null";
@use "fonts";
@use "ui";
@use "components";
@use "pages/home";
@use "pages/contacts";

// Я думаю это общий стиль
input:focus, textarea:focus {
    color: #7C7C7C80;
}
input, textarea {
    background: #181818;
    color: #7C7C7C80;
}