.image-text {

    // .image-text__container

    &__container {
        display: grid;
        gap: 40px;
        grid-template-columns: 1fr 1fr;
        min-height: 600px;
            margin-bottom: clamp(1rem, 13.28125vw, 21.25rem);
    }

    // .image-text__block-image

    &__block-image {
        height: 100%;
    }

    &__image {
        height: 100%;
    }

    // .image-text__block-text

    &__block-text {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    // .image-text__title

    &__title {
        font-weight: 500;
        font-size: 32px;
        line-height: 130%;
        letter-spacing: 0%;
        vertical-align: middle;

    }

    // .image-text__block-description

    &__block-description {
        display: flex;
        flex-direction: column;
    }

    // .image-text__description-text

    &__description-text {
        font-weight: 500;
        font-size: 16px;
        line-height: 130%;
        letter-spacing: 0%;
        color: #999999;
        margin-bottom: 40px;

    }



    &__button {
        width: min-content;
        padding: 10px 39px;
    }

   
}

 @media (max-width: 768px) {
    .image-text__container {
        display: flex;
        flex-direction: column;

    }

    .image-text__title {
        margin-bottom: 40px;
    }
    }