<section class="image-text">
    <div class="_container">
        <div class="image-text__container">
            <div class="image-text__block-image">
                <img alt="" class="project__img image-text__image" src="assets/img/image-card.webp">
            </div>
            <div class="image-text__block-text">
                 <h2 class="image-text__title _h2">Заголовок</h2>
                    <div class="image-text__block-description">
                        <p class="image-text__description-text">
Есть много вариантов Lorem Ipsum, но большинство из них имеет не всегда приемлемые модификации, например, юмористические вставки или слова, которые даже отдалённо не напоминают латынь. Если вам нужен Lorem Ipsum для серьёзного проекта, вы наверняка не хотите какой-нибудь шутки, скрытой в середине абзаца. 
                        </p>
                        <p class="image-text__description-text">
Также все другие известные генераторы Lorem Ipsum используют один и тот же текст, который они просто повторяют, пока не достигнут нужный объём. Это делает предлагаемый здесь генератор единственным настоящим Lorem Ipsum генератором. 
                        </p>
                         <a href="#" class="button image-text__button">Подробнее</a>
                    </div>
            </div>
        </div>
    </div>
  </section>