.button {
    display: inline-block;
    padding: 
        clamp(0.63rem, 0.78vw, 1.26rem) 
        clamp(1.25rem, 1.56vw, 2.5rem); 
    border: 0.063rem solid #f2f2f2;
    border-radius: 0px;
    text-decoration: none;
    text-align: center;
    color: #f2f2f2;
    transition: all 0.3s ease;
}

.button:hover {
    background-color: #f2f2f2;
    color: #000;
}
