@use 'sass:math';
@use 'sass:list';
@use '../mixins' as *; // путь адаптируй под структуру

.info {


    // .info__project

    &__project {
        padding-top: pclamp(100)
;
        margin-bottom: pclamp(80)
;
    }

    // .info__block

    &__block {
        display: grid;
        grid-template-columns: 1fr 1fr;

        @media (max-width: 648px) {
            display: block;
          }
    }

    

    // .info__block-person

    &__block-person {
        grid-column: 1/2;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        margin-bottom: pclamp(30)
;
    }

    // .info__bread

    &__bread {
        font-size: pclamp(14)
;
        color: var(--light-gray);
        line-height: 157%;
    }

    // .info__preson

    &__preson {
        font-size: pclamp(16)
;
        color: #fff;
        line-height: 157%;
    }

    &__preson span{
        color: var(--light-gray);
    }

    // .info__person-text

    &__person-text {
    }

    // .info__block-about

    &__block-about {
        grid-column: 2/3;
        display: flex;
        gap: pclamp(30)
;
        flex-direction: column;
    }

    // .info__about-tabs
    
    &__about-tabs {
        display: flex;
        gap: pclamp(15)
;
    }

    &__about-tabs span{
        border-radius: 30px;
        border: 1px solid var(--light-gray);
        padding: 6px 20px;
        color: var(--light-gray);
    }

    // .info__about-content

    &__about-content {
        display: flex;
        gap: pclamp(30)
;
        flex-direction: column;
    }

    // .info__about-title

    &__about-title {
        color: #F2F2F2;
        font-size: pclamp(45)
;
        line-height: 74px;
    }

    // .info__about-main-desc

    &__about-main-desc {

        font-size: pclamp(24)
;
        color: #F2F2F2;
        line-height: 131%;
    }

    // .info__about-accent-desc

    &__about-accent-desc {
        color: var(--light-gray);
    }

    @media (max-width: 648px) {
        &__about-title {
            font-size: 24px;
        }

        &__bread, &__about-tabs {
            font-size: 12px;
        }

        &__about-tabs {
            padding-bottom: 25px;
            margin-bottom: 25px;
            border-bottom: 1px solid rgba(242, 242, 242, 0.2);
        }

        &__about-main-desc {
            margin-bottom: 35px;
            font-size: 16px;
            line-height: 120%;
        }

        &__person-text {
            margin-bottom: 3px;
        }

        &__person-text span{
            color: var(--light-gray);

        }

        &__about-accent-desc {
            margin-bottom: 45px;
        }
    
      }
}

.project__big-image {
    margin-bottom: pclamp(100);
}

@media (max-width: 648px) {
    .project__big-image {
        margin: 45px 0;
    }
    
}


.project-media {

    // .project-media__layout

    &__layout {
        display: grid;
        gap: pclamp(40);
        grid-template-columns: 1fr 1fr;
        grid-template-rows: repeat(4, 1fr);
        margin-bottom: pclamp(40)
;
    }

    // .project-media__main

    &__main {
        grid-column: 1/2;
        grid-row: 1/5;
    }

    // .project-media__image

    &__image {
    }

    // .project-media__side

    &__side {
        grid-column: 2/3;
        grid-row: 1/5;
        display: flex;
        gap: pclamp(40);
        flex-direction: column;
    }
    

    // .project-media__thumb

    &__thumb {
        height: 100%;
    }
}

.projects__footer-title {
    margin-top: pclamp(180)
;
  }