<section class="title-desc-ul-full">
  <div class="_container">
    <div class="title-desc-ul-full__container">
      <div>
    
      </div>
      <div class="title-desc-ul__content">
<h2 class="title-desc-ul__title _h2">ЗАГОЛОВОК</h2>
      <ul class="title-desc-ul__list">
        <li class="title-desc-ul__item">
          <div class="title-desc-ul__item-text title-desc-ul__item-text-full">
            <h3 class="title-desc-ul__item-title">Заголовок 1</h3>
            <p class="title-desc-ul__item-desc">
              Есть много вариантов Lorem Ipsum, но большинство из них имеет не всегда приемлемые модификации, которые даже отдалённо не напоминают латынь.
            </p>
          </div>
          <div class="title-desc-ul__item-icon">
            <svg xmlns="http://www.w3.org/2000/svg" width="17" height="17" viewBox="0 0 17 17" fill="none">
              <path d="M1 16L16 1M16 1V11.7463M16 1H4.64286" stroke="white" stroke-linecap="round" stroke-linejoin="round"/>
            </svg>
          </div>
        </li>

        <!-- Повторить следующие пункты аналогично -->
        <li class="title-desc-ul__item">
          <div class="title-desc-ul__item-text title-desc-ul__item-text-full">
            <h3 class="title-desc-ul__item-title">Заголовок 2</h3>
            <p class="title-desc-ul__item-desc">Есть много вариантов Lorem Ipsum, но большинство из них имеет не всегда приемлемые модификации...</p>
          </div>
          <div class="title-desc-ul__item-icon">
            <svg xmlns="http://www.w3.org/2000/svg" width="17" height="17" viewBox="0 0 17 17" fill="none">
              <path d="M1 16L16 1M16 1V11.7463M16 1H4.64286" stroke="white" stroke-linecap="round" stroke-linejoin="round"/>
            </svg>
          </div>
        </li>

         <li class="title-desc-ul__item">
          <div class="title-desc-ul__item-text title-desc-ul__item-text-full">
            <h3 class="title-desc-ul__item-title">Заголовок 3</h3>
            <p class="title-desc-ul__item-desc">Есть много вариантов Lorem Ipsum, но большинство из них имеет не всегда приемлемые модификации...</p>
          </div>
          <div class="title-desc-ul__item-icon">
            <svg xmlns="http://www.w3.org/2000/svg" width="17" height="17" viewBox="0 0 17 17" fill="none">
              <path d="M1 16L16 1M16 1V11.7463M16 1H4.64286" stroke="white" stroke-linecap="round" stroke-linejoin="round"/>
            </svg>
          </div>
        </li>

         <li class="title-desc-ul__item">
          <div class="title-desc-ul__item-text title-desc-ul__item-text-full">
            <h3 class="title-desc-ul__item-title">Заголовок 4</h3>
            <p class="title-desc-ul__item-desc">Есть много вариантов Lorem Ipsum, но большинство из них имеет не всегда приемлемые модификации...</p>
          </div>
          <div class="title-desc-ul__item-icon">
            <svg xmlns="http://www.w3.org/2000/svg" width="17" height="17" viewBox="0 0 17 17" fill="none">
              <path d="M1 16L16 1M16 1V11.7463M16 1H4.64286" stroke="white" stroke-linecap="round" stroke-linejoin="round"/>
            </svg>
          </div>
        </li>
        <!-- Заголовок 3 и 4 можно скопировать аналогично -->
      </ul>
      </div>
 
    </div>
  </div>
</section>
