<section class="image-text">
    <div class="_container">
        <div class="image-text__container">
            <div class="image-text__block-image">
                <img alt="" class="project__img image-text__image" src="assets/img/image-card.webp">
            </div>
            <div class="image-text__block-text">
                 <h2 class="image-text__title _h2">Заголовок</h2>
                    <div class="image-text__block-description">
                            <div class="development__accordion">
                    <div class="accordion">
                        <dl>
                            <!-- Этап 01 -->
                            <a href="#accordion1" aria-expanded="false" aria-controls="accordion1"
                                class="accordion-title is-collapsed accordionTitle js-accordionTrigger">
                                <dt class="development__dt">

                                    
                                    <div class="development__accordion-title-block">

                                        <p class="development__accordion-title-block-text">ЗНАКОМСТВО</p>
                                    </div>
                                </dt>
                            </a>
                            <dd class="accordion-content accordionItem is-collapsed" id="accordion1" aria-hidden="true">
                                <div class="accordion-content__image-block">
                                    <img class="accordion__image" src="/assets/img/gallery-1.png" alt="">
                                </div>
                                <div class="accordion-content__text-block">
                                    <ul class="accordion__text-list">
                                        <li>Собрать данные по объекту</li>
                                        <li>Выявить потребности заказчика</li>
                                        <li>Сформулировать задачу</li>
                                        <li>Концепция и варианты планировки</li>
                                        <li>Коммерческое предложение</li>
                                    </ul>
                                </div>
                            </dd>

                            <!-- Этап 02 -->
                            <a href="#accordion2" aria-expanded="false" aria-controls="accordion2"
                                class="accordion-title is-collapsed accordionTitle js-accordionTrigger">
                                <dt class="development__dt">

                                    <div class="development__accordion-number-block">/ 02</div>
                                    <div class="development__accordion-title-block">
                                        <p class="development__accordion-title-block-text">
                                            РАЗРАБОТКА ДИЗАЙН-ПРОЕКТА
                                        </p>
                                    </div>
                                </dt>
                            </a>
                            <dd class="accordion-content accordionItem is-collapsed" id="accordion2" aria-hidden="true">
                                <div class="accordion-content__image-block">
                                    <img class="accordion__image" src="/assets/img/gallery-1.png" alt="">
                                </div>
                                <div class="accordion-content__text-block">
                                    <ul class="accordion__text-list">
                                        <li>Разработка 3D-визуализаций</li>
                                        <li>Создание чертежей</li>
                                        <li>Подбор материалов и мебели</li>
                                        <li>Согласование всех решений</li>
                                        <li>Финальный проект</li>
                                    </ul>
                                </div>
                            </dd>

                            <!-- Этап 03 -->
                            <a href="#accordion3" aria-expanded="false" aria-controls="accordion3"
                                class="accordion-title is-collapsed accordionTitle js-accordionTrigger">
                                <dt class="development__dt">
                                    <div class="development__accordion-number-block">/ 03</div>
                                    <div class="development__accordion-title-block">
                                        <p class="development__accordion-title-block-text">
                                            ЭТАП ОТДЕЛКИ
                                        </p>
                                    </div>
                                </dt>
                            </a>
                            <dd class="accordion-content accordionItem is-collapsed" id="accordion3" aria-hidden="true">
                                <div class="accordion-content__image-block">
                                    <img class="accordion__image" src="/assets/img/gallery-1.png" alt="">
                                </div>
                                <div class="accordion-content__text-block">
                                    <ul class="accordion__text-list">
                                        <li>Ремонтно-отделочные работы</li>
                                        <li>Авторский надзор</li>
                                        <li>Закупка материалов</li>
                                        <li>Управление подрядчиками</li>
                                        <li>Сдача объекта</li>
                                    </ul>
                                </div>
                            </dd>
                        </dl>
                    </div>
                </div>
                         <a href="#" class="button image-text__button">Подробнее</a>
                    </div>
            </div>
        </div>
    </div>
  </section>

       