.title-desc-ul-full {
  &__container {
    display: flex;
    flex-direction: column;
         margin-bottom: 85px;
          padding-top: 85px;
  }

  

  @media (max-width: 768px) {
    &__container {
      display: flex;
      flex-direction: column;
    }
  }
}


.title-desc-ul__item-title-sp {
  margin: 0;
}